<div class="main">
  <div class="container">
    <div class="signup-content">
      <div class="signup-img">
        <img src="../../assets/images/signup-img.jpg" alt="" />
      </div>
      <div class="signup-form">
        <form [formGroup]="contactForm" class="register-form" id="register-form">
          <h2>student registration form</h2>
          <div class="form-group">
            <label for="name">Full Name :</label>
            <input type="text" name="name" id="name" required formControlName="name" />
          </div>
          <!-- <div class="form-group">
                            <label for="father_name">Father Name :</label>
                            <input type="text" name="father_name" id="father_name" required/>
                        </div> -->
          <div class="form-group">
            <label for="id">National ID :</label>
            <input type="text" name="id" id="id" autocomplete="false" formControlName="nic" required />
          </div>
          <div class="form-radio">
            <label for="gender" class="radio-label">Type :</label>
            <div class="form-radio-item">
              <input type="radio" value="student" name="gender" id="gender" />
              <label for="male">Student</label>
              <span class="check"></span>
            </div>
            <div class="form-radio-item">
              <input type="radio" value="expert" name="gender" id="gender" />
              <label for="female">Expert</label>
              <span class="check"></span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group" *ngIf="category.length != 0">
              <label for="state">Category :</label>
              <div class="form-select">
                <select id="category" formControlName="category" [(ngModel)]="qualificationsId"
                  (change)="setSelectQualifications($event)">
                  <option value=""></option>
                  <option [value]="categor.id" *ngFor="let categor of category"
                    [selected]="categor.id == qualificationsId">
                    {{categor.name}}
                  </option>
                </select>
                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
              </div>
            </div>
            <div class="form-group" *ngIf="selectQualifications.length != 0">
              <label for="city">Qualifications :</label>
              <div class="form-select">
                <select id="qualifications" formControlName="qualifications">
                  <option value=""></option>
                  <option [value]="qualifications.category_id" *ngFor="let qualifications of selectQualifications">
                    {{qualifications.name}}</option>
                </select>
                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="profession">Profession :</label>
            <input type="text" name="profession" id="profession" formControlName="profession" />
          </div>
          <div class="form-group">
            <label for="affiliation">Affiliation :</label>
            <input type="text" name="affiliation" id="affiliation" formControlName="affiliation" />
          </div>
          <!-- <div class="form-group">
                        <label for="course">Course :</label>
                        <div class="form-select">
                            <select name="course" id="course">
                                <option value=""></option>
                                <option value="computer">Computer Operator & Pragramming Assistant</option>
                                <option value="desiger">Designer</option>
                                <option value="marketing">Marketing</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div> -->
          <div class="form-group">
            <label for="email">Email ID :</label>
            <input type="email" name="email" id="email" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" formControlName="password" />
          </div>
          <div class="form-submit">
            <button type="submit" class="btn btn-primary" id="submit" [disabled]="!contactForm.valid"
              (click)="onSubmit()">Submit Form</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>